html {
	background-color: #000;
	color: #FFF;
	font-family: "Paragraph";
	font-size: 16px;
	/*cursor: url(cursor.png), default;*/
	min-width: 100%;
	min-height: 100%;
	background-attachment: fixed;
}

a {
	/*cursor: url(pointer.png), default;*/
	color: inherit;
	text-decoration: none;
}

body {
	margin: 0 !important;
	padding: 0 !important;
}

*::-moz-selection {
	color: #000;
	background-color: #FFF;
}

*::selection {
	color: #000;
	background-color: #FFF;
}

#index {
	background-color: #000;
	background-image: url(../img/cover.png);
	background-attachment: fixed;
	background-position: center;
	padding-left: 10vw;
	padding-right: 10vw;
	padding-top: 5em;
	padding-bottom: 5em;
}


#knob {
	position: fixed;
	z-index: 100;
	left: 0;
	top: 0;
	height: 35px;
}

#knob2 {
	position: fixed;
	right: 0;
	top: 0;
}

#knob3 {
	position: fixed;
	right: 100px;
	top: 0;
}

#knob4 {
	position: fixed;
	right: 250px;
	top: 0;
}

.seperator {
	width: 100%;
	height: 32px;
	background-image: url(../img/seperator.png);
}

.seperate {
	width: 100%;
	height: 32px;
	background-image: url(seperate.html);
}

h1 {
	font-family: Heading;
	font-size: 2em;
}

.padded {
	z-index: 2;
	padding-left: 10vw;
	padding-right: 10vw;
}

.overload {
	margin-left: 20vw;
	width: calc(100% - 40vw);
	background-color: #000;
}

.indexlist {
	width: calc(100% - 170px);
	display: inline-block;
	height: 64px;
	line-height: 64px;
	vertical-align: 28px;
}

.indexlist span {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}

.indexlist a {
	color: #FFFF00;
}

.indexlist a:hover {
	background-color: #FFFF00;
	color: #000;
}

.overno {
	color: #888 !important;
	pointer-events: none;
}

.overno:hover {
	background-color: #888 !important;
	color: #000 !important;
}

#overlay {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: 1000;
	/*background-image: url(overlay.png);*/
	background-repeat: all;
	background-position: 0px 0px;

	animation-name: Static;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
	animation-timing-function: steps(32);

	box-shadow: inset 0px 0px 10em rgba(0,0,0,0.4);
}

@keyframes Static {
	0% { background-position: 0px 0px; }
	100% { background-position: 0px 32px; }
}

#overlay2 {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: 1000;
/*	background-image: url(overlay2.png);*/
	background-repeat: all;
	background-position: 0px 0px;

	animation-name: Static;
	animation-duration: 0.2s;
	animation-iteration-count: infinite;
	animation-timing-function: steps(32);
}

::-webkit-scrollbar
{
	width: 8px;  /* for vertical scrollbars */
	height: 8px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
	background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb
{
	background: rgba(255, 255, 255, 1);
}




.shake-level1, .shake-level2, .shake-level3, .shake-level4, .shake-level5, .shake-level6, .shake-level7, .shake-level8, .shake-level9, .shake-level10, .shake-level11 {
	display: inline-block;
	transform-origin: center center;
}

.shake-freeze,
.shake-constant.shake-constant--hover:hover,
.shake-trigger:hover .shake-constant.shake-constant--hover {
	animation-play-state: paused;
}

.shake-freeze:hover,
.shake-trigger:hover .shake-freeze, .shake-level1:hover,
.shake-trigger:hover .shake-level1, .shake-level2:hover,
.shake-trigger:hover .shake-level2, .shake-level3:hover,
.shake-trigger:hover .shake-level3, .shake-level4:hover,
.shake-trigger:hover .shake-level4, .shake-level5:hover,
.shake-trigger:hover .shake-level5, .shake-level6:hover,
.shake-trigger:hover .shake-level6, .shake-level7:hover,
.shake-trigger:hover .shake-level7, .shake-level8:hover,
.shake-trigger:hover .shake-level8, .shake-level9:hover,
.shake-trigger:hover .shake-level9, .shake-level10:hover,
.shake-trigger:hover .shake-level10, .shake-level11:hover,
.shake-trigger:hover .shake-level11 {
	animation-play-state: running;
}

@keyframes shake-level1 {
	50% {
		transform: translate(0.5px, 0.5px) rotate(0);
	}

	0%, 100% {
		transform: translate(0, 0) rotate(0);
	}
}

.shake-level1:hover,
.shake-trigger:hover .shake-level1, .shake-level1.shake-freeze, .shake-level1.shake-constant {
	animation-name: shake-level1;
	animation-duration: 100ms;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes shake-level2 {
	50% {
		transform: translate(2px, 0px) rotate(0.5deg);
	}

	0%, 100% {
		transform: translate(0, 0) rotate(0);
	}
}

.shake-level2:hover,
.shake-trigger:hover .shake-level2, .shake-level2.shake-freeze, .shake-level2.shake-constant {
	animation-name: shake-level2;
	animation-duration: 100ms;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes shake-level3 {
	50% {
		transform: translate(-2.5px, 1.5px) rotate(0deg);
	}

	0%, 100% {
		transform: translate(0, 0) rotate(0);
	}
}

.shake-level3:hover,
.shake-trigger:hover .shake-level3, .shake-level3.shake-freeze, .shake-level3.shake-constant {
	animation-name: shake-level3;
	animation-duration: 100ms;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes shake-level4 {
	50% {
		transform: translate(4px, -2px) rotate(2deg);
	}

	0%, 100% {
		transform: translate(0, 0) rotate(0);
	}
}

.shake-level4:hover,
.shake-trigger:hover .shake-level4, .shake-level4.shake-freeze, .shake-level4.shake-constant {
	animation-name: shake-level4;
	animation-duration: 100ms;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes shake-level5 {
	50% {
		transform: translate(6px, 2px) rotate(-1.5deg);
	}

	0%, 100% {
		transform: translate(0, 0) rotate(0);
	}
}

.shake-level5:hover,
.shake-trigger:hover .shake-level5, .shake-level5.shake-freeze, .shake-level5.shake-constant {
	animation-name: shake-level5;
	animation-duration: 100ms;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes shake-level6 {
	50% {
		transform: translate(11.5px, 5.5px) rotate(2.5deg);
	}

	0%, 100% {
		transform: translate(0, 0) rotate(0);
	}
}

.shake-level6:hover,
.shake-trigger:hover .shake-level6, .shake-level6.shake-freeze, .shake-level6.shake-constant {
	animation-name: shake-level6;
	animation-duration: 100ms;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes shake-level7 {
	50% {
		transform: translate(-3.5px, 7.5px) rotate(-5deg);
	}

	0%, 100% {
		transform: translate(0, 0) rotate(0);
	}
}

.shake-level7:hover,
.shake-trigger:hover .shake-level7, .shake-level7.shake-freeze, .shake-level7.shake-constant {
	animation-name: shake-level7;
	animation-duration: 100ms;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes shake-level8 {
	50% {
		transform: translate(-10px, 24.5px) rotate(2deg);
	}

	0%, 100% {
		transform: translate(0, 0) rotate(0);
	}
}

.shake-level8:hover,
.shake-trigger:hover .shake-level8, .shake-level8.shake-freeze, .shake-level8.shake-constant {
	animation-name: shake-level8;
	animation-duration: 50ms;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes shake-level9 {
	50% {
		transform: translate(-20.5px, -7px) rotate(-17deg);
		opacity: 0.48;
	}

	0%, 100% {
		transform: translate(0, 0) rotate(0);
	}
}

.shake-level9:hover,
.shake-trigger:hover .shake-level9, .shake-level9.shake-freeze, .shake-level9.shake-constant {
	animation-name: shake-level9;
	animation-duration: 50ms;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes shake-level10 {
	50% {
		transform: translate(6px, 36px) rotate(27.5deg);
		opacity: 0.74;
	}

	0%, 100% {
		transform: translate(0, 0) rotate(0);
	}
}

.shake-level10:hover,
.shake-trigger:hover .shake-level10, .shake-level10.shake-freeze, .shake-level10.shake-constant {
	animation-name: shake-level10;
	animation-duration: 50ms;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes shake-level11 {
	50% {
		transform: translate(-57px, -17px) rotate(9.5deg);
		opacity: 0.09;
	}

	0%, 100% {
		transform: translate(0, 0) rotate(0);
	}
}

.shake-level11:hover,
.shake-trigger:hover .shake-level11, .shake-level11.shake-freeze, .shake-level11.shake-constant {
	animation-name: shake-level11;
	animation-duration: 50ms;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}